<html>>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Ninja | <%= title %></title>
    </head>
    <body>
        <nav>
        <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
        </div>
        <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        </ul>
        </nav>
        <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum quia, similique autem quos dolorum est doloribus aspernatur quis error non. Similique, nemo, non perferendis dicta ea amet asperiores officiis mollitia maiores sit laboriosam esse aliquid obcaecati dolores tempora iure consequuntur placeat. Nostrum magni non sapiente corporis nesciunt consectetur quisquam.
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum quia, similique autem quos dolorum est doloribus aspernatur quis error non. Similique, nemo, non perferendis dicta ea amet asperiores officiis mollitia maiores sit laboriosam esse aliquid obcaecati dolores tempora iure consequuntur placeat. Nostrum magni non sapiente corporis nesciunt consectetur quisquam.
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum quia, similique autem quos dolorum est doloribus aspernatur quis error non. Similique, nemo, non perferendis dicta ea amet asperiores officiis mollitia maiores sit laboriosam esse aliquid obcaecati dolores tempora iure consequuntur placeat. Nostrum magni non sapiente corporis nesciunt consectetur quisquam.
        </div>
    </body>
</html>