<form method="POST" action=/login>
    <div>
        Enter Username: <input type="text" name="username" />
    </div>
    <div>
        Enter Password: <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
    </form>